@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Allura", cursive;
  text-align: center;
}

.progress {
  color: darkred;
  letter-spacing: 3px;
  margin: 1rem auto;
}

.subtitle {
  width: 90vw;
  letter-spacing: 4px;
  margin: 1rem auto;
  background: darkred;
  color: grey;
  outline: 1px solid grey;
  outline-offset: -4px;
  padding: 0.3rem;
}

.answers {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 1.5rem auto;
}

.single-answer {
  width: 20vw;
  font-size: 1.5rem;
  letter-spacing: 3px;
  border: 1px dotted darkred;
  margin: 0.2rem auto;
  background: #f6f6f6;
}

.answer {
  font-size: 1.4rem;
  border: none;
  outline: lightgray;
  background: none;
  cursor: pointer;
  transition: all 1s ease;
}

.answer.selected {
  color: grey;

}

.answer:hover {
  color: grey;
  background: darkred;
  width: 15vw;
  outline: 1px dotted grey;
  outline-offset: -2px;
}

.err {
  width: 90vw;
  letter-spacing: 7px;
  color: darkred;
  font-size: 1.1rem;
  background: whitesmoke;
  padding: 0.2rem;
  margin: 0 auto;
}

.btn {
  width: 20vw;
  border: 1px solid darkred;
  font-size: 1.4rem;
  letter-spacing: 4px;
  padding: 0.3rem;
  background: whitesmoke;
  outline: 1px solid darkred;
  outline-offset: -3px;
  cursor: pointer;
}

.results {
  display: grid;
  justify-items: center;
  justify-content: center;
  margin: 7rem auto;
}


.fail, .correct {
  color: darkred;
  letter-spacing: 12px;
  font-weight: bold;
  background: lightgrey;
  padding: 0.2rem;
  border: 1px dotted grey;
  font-size: 1.2rem;
  margin: 0.5rem auto;
}

.correct {
  color: grey;
}

.data {
  width: 90vw;
  border: 1px dotted red;
  border-top: none;
  background: #f6f6f6;
  margin-bottom: 2rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 4px;
}
